[submodule "sem1/degrees_radians"]
	path = sem1/degrees_radians
	url = https://github.com/bermo0d/degrees_radians.git
[submodule "sem1/bitwise-calculator"]
	path = sem1/bitwise-calculator
	url = https://github.com/bermo0d/bitwise-calculator.git
